<ion-content (click)="onTap($event)" (touchend)="onTouchEnd($event);onSlideEnd($event)"
    (touchstart)="onTouchStart($event);onSlideStart($event)" (touchmove)="onTouchMove($event);onSliding($event)"
    >
    <ion-refresher *ngIf="!config.slideMode" slot="fixed" (ionRefresh)="onRefresh($event)"
        pullMin="100" pullMax="300" closeDuration="800ms">
    </ion-refresher>
    <div padding *ngIf="!config.slideMode && chapter != null" [ngStyle]="style.bodyCss">
        <p class="read-content-title">{{chapter?.title}}</p>
        <p *ngFor="let line of chapter.contentLines" class="read-content-para">{{line}}</p>
    </div>
    <ng-container *ngIf="config.slideMode">
        <div class="read-content-container" [ngStyle]="slide.backStyle">
            <div class="slide-top-title">
                {{slide.chapterPages[slide.backIndex] ? chapter?.title : nextChapter?.title}}
            </div>
            <div class="slide-loading" *ngIf="!slide.chapterPages[slide.backIndex] && !slide.nextPage && slide.showExtraChapterPage">
                <ion-spinner name="dots"></ion-spinner>
                <p>加载中</p>
            </div>
            <p class="slide-content-title" *ngIf="slide.chapterPages[slide.backIndex] ? slide.chapterPages[slide.backIndex].title : slide.nextPage?.title">
                {{slide.chapterPages[slide.backIndex]
                ? slide.chapterPages[slide.backIndex]?.title
                : slide.nextPage?.title}}
            </p>
            <p class="read-content-para" [ngClass]="{ 'with-text-indent': line.indent, 'with-last-line-justify': line.fullLastLine }"
                *ngFor="let line of
                (slide.chapterPages[slide.backIndex]
                ? slide.chapterPages[slide.backIndex].lines
                : (slide.showExtraChapterPage
                    ? slide.nextPage?.lines : []))">
                {{line.text}}</p>
            <ion-label class="slide-progress">
                {{slide.backIndex + 1}}/{{slide.chapterPages ? slide.chapterPages.length : '0'}}
            </ion-label>
            <ion-label class="slide-cur-time">{{currentTime}}</ion-label>
        </div>
        <div class="read-content-container" [ngStyle]="slide.frontStyle">
            <div class="slide-top-title" *ngIf="chapter">
                {{slide.chapterPages[slide.frontIndex] ? chapter?.title : previousChapter?.title}}
            </div>
            <div class="slide-loading" *ngIf="!slide.chapterPages[slide.frontIndex] && (!slide.showExtraChapterPage || !slide.previousPage)">
                <ion-spinner name="dots"></ion-spinner>
                <p>加载中</p>
            </div>
            <p class="slide-content-title" *ngIf="slide.chapterPages[slide.frontIndex] ? slide.chapterPages[slide.frontIndex].title : slide.previousPage?.title">
                {{slide.chapterPages[slide.frontIndex]
                ? slide.chapterPages[slide.frontIndex]?.title
                : slide.previousPage?.title}}
            </p>
            <p class="read-content-para" [class.with-text-indent]="line.indent" [ngClass]="{ 'with-text-indent': line.indent, 'with-last-line-justify': line.fullLastLine }"
                *ngFor="let line of 
                (slide.chapterPages[slide.frontIndex]
                ? slide.chapterPages[slide.frontIndex].lines
                : (slide.showExtraChapterPage
                    ? slide.previousPage?.lines : []))">
                {{line.text}}</p>
            <ion-label class="slide-progress">
                {{slide.frontIndex + 1}}/{{slide.chapterPages ? slide.chapterPages.length : '0'}}</ion-label>
            <ion-label class="slide-cur-time">{{currentTime}}</ion-label>
        </div>
        <div class="slide-mask"></div>
    </ng-container>
</ion-content>


<!--绝对定位元素-->

<!--呼出菜单-->
<app-header *ngIf="menu.show" class="read-header" [title]="chapter?.title" [backEntry]="true"></app-header>
<div *ngIf="menu.show && !shelfControl.onShelf" class="add-to-shelf-button" (click)="addToShelf()">
    加入书架
</div>
<ion-footer *ngIf="menu.show">
    <!--章节切换按钮-->
    <ion-item color="dark" lines="full">
        <ion-button class="read-footer-button" (click)="toLastChapter(false, true)" size="small" color="light" fill="clear"
            slot="start">上一章</ion-button>
        <ion-button class="read-footer-button" (click)="toNextChapter(true)" size="small" color="light" fill="clear"
            slot="end">下一章</ion-button>
    </ion-item>
    <!--背景样式-->
    <ion-item color="dark" lines="none" *ngIf="menu.expand">
        <ion-avatar class="background-block" (click)="setColor('#DBDBDB')">
            <img src="{{strings.uri.background.light}}" />
        </ion-avatar>
        <ion-avatar class="background-block" (click)="setColor('#d4dcc5')">
            <img src="{{strings.uri.background.greenEye}}" />
        </ion-avatar>
        <ion-avatar class="background-block" (click)="setColor('#FAF0E6')">
            <img src="{{strings.uri.background.linen}}" />
        </ion-avatar>
        <ion-avatar class="background-block" (click)="setColor('#F5F5DC')">
            <img src="{{strings.uri.background.beige}}" />
        </ion-avatar>
        <ion-avatar class="background-block" (click)="setColor('#F8F8FF')">
            <img src="{{strings.uri.background.ghostWhite}}" />
        </ion-avatar>
        <ion-avatar class="background-block" (click)="setColor('url(' + strings.uri.background.pic + ')')">
            <img src="{{strings.uri.background.paleGodenrod}}" />
        </ion-avatar>
    </ion-item>
    <!--字体调整-->
    <ion-item color="dark" lines="none" *ngIf="menu.expand">
        <ion-button class="read-footer-button" (click)="changeFontSize(-1)" size="small" color="light" fill="clear"
            slot="start">A-</ion-button>
        <ion-label class="read-footer-number">{{config.fontSize}}</ion-label>
        <ion-button class="read-footer-button" (click)="changeFontSize(1)" size="small" color="light" fill="clear"
            slot="end">A+</ion-button>
    </ion-item>
    <!--行距调整-->
    <ion-item color="dark" lines="none" *ngIf="menu.expand">
        <ion-button class="read-footer-button" (click)="changeLineHeight(-0.1)" size="small" color="light" fill="clear"
            slot="start">H-</ion-button>
        <ion-label class="read-footer-number">{{config.lineSpace}}</ion-label>
        <ion-button class="read-footer-button" (click)="changeLineHeight(0.1)" size="small" color="light" fill="clear"
            slot="end">H+</ion-button>
    </ion-item>
    <ion-item color="dark" lines="none" *ngIf="menu.expand">
        <ion-button class="read-footer-button" size="small" color="light" fill="clear" slot="start"
          (click)="switchOrientation()">横屏模式
        </ion-button>
        <ion-button class="read-footer-button" size="small" color="light" fill="clear" slot="end"
            (click)="switchSlideMode()">覆盖翻页
        </ion-button>
    </ion-item>
    <!--目录和夜间模式-->
    <ion-item color="dark" lines="none" *ngIf="!menu.expand">
        <ion-button class="read-footer-button" size="small" color="light" fill="clear" slot="start"
            (click)="goToCatalogPage()">目&emsp;录</ion-button>
        <ion-button class="read-footer-number" size="small" color="light" fill="clear" (click)="switchDarkMode()">
            夜&emsp;间
        </ion-button>
        <ion-button class="read-footer-button" size="small" color="light" fill="clear" slot="end"
            (click)="expandMenu()">设&emsp;置
        </ion-button>
    </ion-item>
</ion-footer>

<!--章节切换提示-->
<ion-badge *ngIf="chapterGesture.canSwitchChapter" class="chapter-switch-tip">
    {{chapterGesture.chapterSwichTip}}
</ion-badge>