<app-header title="设置"></app-header>
<ion-content padding>
  <ion-list>
    <ion-item color="light" (click)="toLogPage()">
      运行日志
      <ion-icon name="arrow-forward" mode="ios" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger" size="default" (click)="logout()">退出登录</ion-button>
</ion-content>

<!--模拟tab-->
<ion-tab-bar slot="bottom">
  <ion-tab-button class="tab-button" (click)="goBack()">
    <ion-icon name="book"></ion-icon>
    <ion-label>{{strings.tab.sheet}}</ion-label>
  </ion-tab-button>
  <ion-tab-button class="tab-button" (click)="toExplorePage()">
    <ion-icon name="search"></ion-icon>
    <ion-label>{{strings.tab.explore}}</ion-label>
  </ion-tab-button>
  <ion-tab-button class="tab-button-selected">
    <ion-icon name="settings"></ion-icon>
    <ion-label>{{strings.tab.setting}}</ion-label>
  </ion-tab-button>
</ion-tab-bar>