<div *ngIf="noNavBar" class="header-block" [style.background]="fillColor"></div>

<ion-header *ngIf="!noNavBar">
  <div class="header-block" [style.background]="fillColor"></div>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-icon *ngIf="backEntry" (click)="goBack()" name="arrow-back" color="light" size="large" mode="ios"></ion-icon>
      <ion-title class="title">{{title}}</ion-title>
      <a *ngIf="searchEntry" (click)="toSearchPage()">
        <ion-icon color="light" name="search" size="large" mode="md" position="end"></ion-icon>
      </a>
    </ion-item>
  </ion-toolbar>
</ion-header>